<div class="home-container">
    <div id="landingPage">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="text-center">
                        <img alt="Angular2" class="img-responsive center-block home-logo" src="assets/img/geocomm-logo-main.png" />
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 home-text">
                    <p>Welcome <strong>{{username}}!</strong>
                        <br><small>{{welcomeMessage}}</small>
                        
                    </p> 
                    <p>Test</p>                   
                </div>
                <div >
                 
                </div>
            </div>
        </div>
    </div>
</div>